html *
{
   //font-size: 1em !important;
   //color: white !important;
   color: black;
   font-family: sans-serif !important;
}

body {
    //background-color: #1a182a;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrap{
    width:960px;
    margin: auto;
}

.menu{
    //background-image: url(images/menu.png);
    background: lime;
    height:41px;
}

.topmenu {
    float: right;
    margin: 10px 0 0;
    position: right;
    padding-right: 10px;
    background: gray;
}

.topmenu li {
    float: left;
    padding-right: 69px;
    list-style: none outside none;
}

.topmenu li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    float: left;
    height: 41px;
    width: 72px;
    padding-left: 10px;
    position: left;
    
}

.header {
    //clear: both;
    height: 262px;
    width: 960px;
    background: cornsilk;
    //margin: auto;
    overflow: hidden;
}

.header .left {
    float: left;
    //background-image: url("images/left.jpg");
    background: orchid;
    
    height: 263px;
    width: 10%;
    //position: relative;
    
}

.header .center {
    float: left;
    //background-image: url("images/center.png");
    background: cyan;
    height: 262px;
    width: 80%;
    //position: relative;
    
}

.header .right {
    float: right;
    //background-image: url("images/right.jpg");
    background: PaleGreen;
    height: 262px;
    width: 10%;
}


.after_header {
    //background-image: url("images/skoro2.jpg");
    background: darkcyan;
    height: 21px;
    //margin: auto;
    position: relative;
    width: 960px;

}


.columnContainer {
    width:960px;
    margin:0px auto;
    overflow: hidden;
 
}

.column {
    float: left;
    width: 40%;
    padding: 5%;
    
}

.column#left {
    background: yellow;
}

.column#right {
    background: orange;
}

.column > h1 {
    text-align: center;
}

.movie-img > img { 
    width: 100px;
    float: left; 
    margin: 5px 15px 15px 5px; 
}

.movie-entry {
    margin: 0px 20px 20px 0px;
    background: lavender;

}

.movie-entry .title {
    font-weight:bold;
    font-size: 120%;
    padding: 5px; 
}

.movie-entry img { 
    width: 100px;
    float: left; 
    margin: 5px 15px 15px 5px; 
}

.movie-entry .desc {
    margin: 5px 5px 5px 120px;  
}

.translation {
    padding: 10px;
}

.translation img {
    width: 20px;
    height: 20px;
    float: left; 
    margin: 0px 30px 5px 0px;
}

.movie-entry .iwant {
    padding: 10px;
    background: red;
    height: 20px;
} 

.upload-btn {
    left: 306px;
    position: relative;
    top: 20px;
}

.gotocinema-btn {
    left: 442px;
    position: relative;
    top: 20px;
}

.footer {
    background-image: url("images/footer.jpg");
    height: 141px;
}

.saveandgo {
    height: 102px;
}

.socials li {
    float: left;
    list-style: none outside none;
    padding: 3px;
}

.socials {
    margin: auto;
    padding-top: 32px;
    width: 200px;
}
.email {
    background-image: url("images/e-mail.jpg");
    clear: both;
    height: 36px;
    margin: auto;
    position: relative;
    width: 210px;
}





/*

.right {
    float: right;
}

.polls {
    float: right;
    position: relative;
    right: 52px;
    top: 10px;
    width: 230px;
}
*/

/*
.polls-results li {
    height: 159px;
    list-style: none outside none;
}


.polls-results {
    margin-left: -59px;
    margin-top: 0;
}
*/

h2 {
    color: #fff;
    font-size: 15px;
}

p {
    color: #fff;
    font-size: 12px;
}



.row {
    margin: auto;
    padding-left: 145px;
    width: 1250px;
}


.howitworks {
    margin: auto;
    padding-bottom: 15px;
    width: 800px;
}

.wtm span, .howitworks span {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
}

.wtm{
    text-align: left;
    margin: auto;
    width: 800px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 40px;

}



.howitworks h1, .wtm h1 {
    color: #eee;
    margin-bottom: 40px;
    text-align: center;
}

.top {
    background-image: url("images/top.jpg");
    width: 961px;
    height: 348px;
}
.topupload {
    left: 100px;
    position: relative;
    top: 195px;
}
.red{
    color: red;
}

.top span {
    color: #eee;
    float: right;
    font-size: 30px;
    line-height: 46px;
    margin: 35px;
    text-align: right;
    text-transform: uppercase;
}